In [ ]:
'''Given:

nums = [2, 5, 8, 11, 14, 17]


Create a new list with:

numbers that are greater than 10'''

nums = [2, 5, 8, 11, 14, 17]
new = []

for n in nums:
  if n > 10 :
    new.append(n)
print(new)

In [ ]:
'''Given:

nums = [3, 6, 9, 12, 15]


Count how many numbers are:

divisible by 3'''

nums = [3, 6, 9, 12, 15]
count = 0

for n in nums :
  if n % 3 == 0 :
    count = 1 + count

print(count)

In [ ]:
'''Take an integer n and:

Reverse the number

Example:

Input: 1234
Output: 4321'''

n = int("Enter the number  : ")

rev=n[::-1]

print(rev)